.hero-section {
  background: linear-gradient(135deg, #4a148c, #9c27b0);
  min-height: 100vh;
}

.hero-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.hero-title span {
  color: #F2FA5C;
  font-weight: 700;
}

.search-box {
  width: 60%;
  background: white;
  border-radius: 50px;
  display: flex;
  padding: 5px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 50px;
  color: black;
}

.search-box button {
  background: linear-gradient(45deg, #7b2ff7, #f107a3);
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

.button:hover{
    background-color: #7b2ff7;
}

.badge-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(10px); */
  text-align: center;
  padding-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.badge-circle h4 {
  margin: 0;
  font-weight: bold;
}

.badge-circle p {
  margin: 0;
  font-size: 14px;
}

.badge-pill {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(10px); */
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.badge-left {
  top: -80px;
  left: 0px;
}

.badge-right {
  top: -100px;
  right: 80px;
}

.rating-badge {
  bottom: -100px;
  left: 150px;
}

.kid-left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px;
}

.kid-right {
  position: absolute;
  bottom: 10;
  right: 0;
  height: 300px;
}

@media (max-width: 768px) {
  .search-box {
    width: 100%;
  }

  .hero-title {
    font-size: 28px;
  }

  .kid-left,
  .kid-right {
    display: none;
  }
}